@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* * {
    background-color: #ddd;
} */

.my-name {
  color: #dc4a24;
}
body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #0f141e;
  background: #f1f1f1;
}

table thead,
h2 {
  text-decoration: underline;
  font-weight: 900;
  text-align: left;
}

.info-text {
  color: rgb(100, 98, 98);
  font-style: italic;
}

.card {
  padding: 10px;
  border: 1pt solid black;
  background: #f1f1f1;
  border-radius: 20px;
  margin-bottom: 10px;
}

.hobbies {
  background: rgba(0, 255, 0, 0.2);
}

.work {
  background: rgba(255, 0, 0, 0.2);
}

.contact {
  background: rgba(255, 255, 0, 0.2);
}

.container {
  max-width: 700px;
  margin: auto;
  padding-top: 30px;
}

.avatar {
  width: 200px;
  border: 2px solid darkgray;
  border-radius: 20px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.btn {
  padding: 15px 25px;
  background: black;
  color: white;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  color: orange;
  opacity: 0.8;
}

a {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: orange;
}

a:visited {
  color: indigo;
}

table tbody td:nth-child(2) {
  color: #86898f;
}
table tbody td:nth-child(3) {
  color: #86898f;
  font-style: italic;
  text-align: right;
}
table tbody tr:nth-child(0) {
  padding-top: 20px;
}

table td {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.list li {
  margin-bottom: 5px;
}

.info {
  display: flex;
}

.form h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

.form-row .form-group {
  /* display: inline-block; */
  margin-right: 20px;
  /* width: calc(50% - 20px); */
  width: 50%;
}

.form-row .form-group:last-child {
  margin-right: 0;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.box {
  margin-left: 40px;
}

.input {
  display: block;
}

@media (max-width: 650px) {
  .info {
    display: block;
    text-align: center;
  }

  .form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
